<h1 align=center><font size = 5>Regression Models with Keras Step B</font></h1>

Normalize the data

### Import library

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

### Download data and read into pandas dataframe

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

### Split data into predictors and target

In [3]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

### Normalize the data by substracting the mean and dividing by the standard deviation

In [4]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [5]:
# number of predictors

n_cols = predictors_norm.shape[1]

### Build a Neural Network

Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error as the loss function.

In [6]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_split helper function from Scikit-learn.

2. Train the model on the training data using 50 epochs.

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

5. Report the mean and the standard deviation of the mean squared errors.

In [7]:
times = 50
mse_list = list()

for i in range(times):
    # 1. randomly split the data
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3)
    # get model
    model = regression_model()
    # 2. train model using 50 epochs
    model.fit(X_train, y_train, epochs=50, verbose=0)
    # predict test set
    y_pred = model.predict(X_test, verbose=0)
    # 3. evaluate model using mse
    mse = mean_squared_error(y_test, y_pred)
    # 4. create a list of 50 mean squared errors
    mse_list.append(mse)
    
# 5. mean and sd of mse_list
print("Report")
print("- Mean: {}".format(np.mean(mse_list)))
print("- Standard Deviation: {}".format(np.std(mse_list)))

Report
- Mean: 361.70992944532924
- Standard Deviation: 87.80444738570237

<b>How does the mean of the mean squared errors compare to that from Step A?</b>

Although the mean of the mean squared errors in this step is bigger than step A, the standard deviation is much smaller. It means model in this step can predict lower error.